@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html,
body {
  background-color: #FCFCFC;
  font-family: 'Josefin Sans', sans-serif;
}

.main {
  background-color:#E6E6E6;
}

.main-left {
  background-color: #ADADAD;
}

.main-right {
  background-color: #ADADAD;
}
